<p>
   <%= link_to "Add new link!", new_link_path, class: "btn btn-medium btn-primary" %>
</p>
<table>
	<% @links.each do |link| %>
		<tr>	
			<th><%= link_to link.title, link.url, :target => "_blank" %></th>
  		    <td><%= link.description %></td>
			<td><%= link.user.name %></td>
			<% if link.editable_by?(current_user) %>
				<td><%= link_to "Edit Link", edit_link_path(link) %></td>
				<td><%= link_to "Delete Link", link_path(link), :method => :delete %></td>
			<% end %>
            <td><%= raw link.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
		</tr>
	<% end %>
</table>